
    .header {
        width: 100%;
        cursor: pointer;
        position: fixed;
        display: flex;
        font-family: 'Lato', sans-serif;
        justify-content: center;
        background-color: #222942;
        font-size: 4vw;
        padding-bottom: 15px;
        box-shadow: 0 1px 5px black;
        color: white;
        z-index: 100;
    }

    @media (max-width: 768px) {
        .header {
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 7vw;
        }    
    }